<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">HOMEINFO</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-center sticky-top" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#">Neuigkeiten <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Schadensmeldung</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Mieterforum</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Termine</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Abmelden</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Wichtiges</a>
      </li>
    </ul>
  </div>
</nav>
