<ul class="nav nav-tabs">
  <div class="container">
    <div class="row">
      <div class="col-6 col-md-4 col-lg-2">
        <li class="nav-item">
          <a href="#">
            <div class="card mb-3 border-secondary mb-3" style="max-width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">Neuigkeiten</h5>
                <p class="card-text"><i class="fa fa-info fa-2x" aria-hidden="true"></i></p>
              </div>
            </div>
          </a>
        </li>
      </div>
      <div class="col-6 col-md-4 col-lg-2">
        <li class="nav-item">
          <a href="#">
            <div class="card mb-3 border-secondary mb-3" style="max-width: 18rem;">

              <div class="card-body">
                <h5 class="card-title">Schadensmeldung</h5>
                <p class="card-text"><i class="fa fa-wrench fa-2x" aria-hidden="true"></i></p>
              </div>
            </div>
          </a>
        </li>
      </div>
      <div class="col-6 col-md-4 col-lg-2">
        <li class="nav-item">
          <a href="#">
            <div class="card mb-3 border-secondary mb-3" style="max-width: 18rem;">

              <div class="card-body">
                <h5 class="card-title">Mieterforum</h5>
                <p class="card-text"><i class="fa fa-envelope-o fa-2x" aria-hidden="true"></i></p>
              </div>
            </div>
          </a>
        </li>
      </div>
      <div class="col-6 col-md-4 col-lg-2">
        <li class="nav-item">
          <a href="#">
            <div class="card mb-3 border-secondary mb-3" style="max-width: 18rem;">

              <div class="card-body">
                <h5 class="card-title">Termine</h5>
                <p class="card-text"><i class="fa fa-calendar-check-o fa-2x" aria-hidden="true"></i></p>
              </div>
            </div>
          </a>
        </li>
      </div>
      <div class="col-6 col-md-4 col-lg-2">
        <li class="nav-item">
          <a href="#">
            <div class="card mb-3 border-secondary mb-3" style="max-width: 18rem;">

              <div class="card-body">
                <h5 class="card-title">Wichtiges</h5>
                <p class="card-text"><i class="fa fa-exclamation fa-2x" aria-hidden="true"></i></p>
              </div>
            </div>
          </a>
        </li>
      </div>
      <div class="col-6 col-md-4 col-lg-2">
        <li class="nav-item">
          <a (click)="logout()">
            <div class="card mb-3 border-secondary mb-3" style="max-width: 18rem;">
              <!--        <div class="card-header"></div>-->
              <div class="card-body">
                <h5 class="card-title">Abmelden</h5>
                <p class="card-text"><i class="fa fa-sign-out fa-2x" aria-hidden="true"></i></p>
              </div>
            </div>
          </a>
        </li>
      </div>
    </div>
  </div>
</ul>
